<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Line Charts</h1>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div> -->
</div>

<div class="table-responsive">
    <div>
        <highcharts-chart style="width: 100%; display: block" [Highcharts]="Highcharts" [options]="chartOptions1">
        </highcharts-chart>

        <highcharts-chart style="width: 100%; display: block" [Highcharts]="Highcharts" [options]="chartOptions2">
        </highcharts-chart>

        <div id="buttonrow">
            <button id="export-png" (click)="export2Png()">Export to PNG</button>
            <button id="export-pdf" (click)="export2Pdf()">Export to PDF</button>
        </div>
    </div>
</div>